.main {
    margin: 20px 0 20px 0;
    display: flex;
    flex-wrap: wrap;
}
.inputsFields__main {
    margin: 20px 10px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.cards_container__main.cards_container__main {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 608px;
}
.cards_paper__main {
    margin: 10px;
    width: 120px;
    background-color: hsl(192, 100%, 98%);
}